.admin-page-title h1 {
    white-space: normal;
    overflow: initial;
    text-overflow: clip;
    font-family: "YouTube Sans", "Roboto", "Arial", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    flex-shrink: 1;
    left: 0;
    padding-left: 32px;
    padding-top: 23px;
    white-space: nowrap;
}
.menu-opened .table-header {
    width: 52lh;
}

.admin-menu {
    margin-left: 23px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.admin-menu-btn {
    padding: 10px 20px;
    padding-left: 0px;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: #606060;
    font-size: 15px;
    font-weight: 600;
}

.admin-active {
    color: #065fd4;
}

.separator {
    width: 100%;
    border: none;
    border-top: 1px solid #f2f2f2;
    margin-top: -10px;
}


.admin-menu-btn::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: transparent;
}

.ad-menu-btn.admin-active::after {
    width: 100%;
    background-color: #065fd4;
}

.admin-menu-btn.admin-active::after {
    width: 100%;
    background-color: #065fd4;
}

.admin-menu-btn:focus.admin-active::after {
    width: 100%;
    background-color: #065fd4;
}

.table-header{
    width: 59lh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: center;
    align-items: center;

}

.table-header-titles{
    width: 185px;
    padding-left: 12px;
    padding-right: 24px;
}

.table-header span{
    font-weight: 600;
    font-size: 13px;
    color: #606060;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.table-header svg{

    width: 16px;
    height: 16px;
}



.all-video{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.all-video img {
    width: 200px;
    height: 200px;
}

.no-content-title span {
    padding: 3px 0 9px 0;
    color : #606060;
    font-size: 15px;
}

.add-video-button{
    margin-top: 10px;
}
.add-video-button button {
    border: none;
    padding: 8px 16px 8px 16px;
    background-color: #065fd4;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

.video-info-titles{
    display: flex;
    flex: content;
    text-align: center;
    align-items: center;

}
.video-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    text-align: center;
    align-items: center;
}


.channel-settings-header{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.channel-settings-header h2 {

    color:#0d0d0d;
    font-size: 15px;
    margin-bottom: 0;
}

.channel-settings-info{

    max-width: 876px;
    max-height: 56px;
}

.channel-settings-info span {
    font-size: 13px;
    color: #606060;
}

.channel-settings-info input {
    margin-top: 10px;
    border: 1px solid #606060;
    border-radius: 8px;
    max-width: 876px;
    min-width: 616px;
    height: 48px;
    font-size: 16px;
    text-indent: 10px;

}
.channel-settings-info textarea {
    margin-top: 10px;
    border: 1px solid #606060;
    border-radius: 8px;
    max-width: 876px;
    min-width: 616px;
    min-height: 150px;
    max-height: 550px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    overflow: hidden;
    padding-bottom: 30px;
}

.channel-settings-info svg{
    width: 24px;
    height: 24px;
}

.char-count{
    margin-top: -30px;
    text-align: end;
    align-items: end;
}
.channel-settings-page{
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.description-input{
    word-wrap: break-word;
    width: 100%;
}
.email-input {
    display: flex;
    width: max-content;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.email-input label {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 12px;
    pointer-events: none;
    color: rgb(119, 119, 119);
}

.email-input input {
    margin: 0;
    border:none;
    max-width: 320px;
    min-width: 250px;
    max-height: 35px;
    outline: none;
}
.readonly{
    background: transparent;
    border: none;
    flex-grow: 1;
    outline: none;
    text-overflow: ellipsis;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
}

.edit-references{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.edit-references span {
    padding-left: 8px;
    padding-right: 8px;
    color:#065fd4;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.edit-references svg {
    width: 24px;
    height: 24px;
    fill: #065fd4;
}

.reference-input{
    padding: 10px;
gap: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
}



.reference-input label {
    font-size: 12px;
    top: 20px;
    pointer-events: none;
    color: rgb(119, 119, 119);

}

.reference-input input {
    padding: 0;
    max-width: 190px;
    min-width: 150px;
    min-height: 20px;
    max-height: 30px;
    border: none;
    outline: none;

}

.references-container{

    display: flex;
    width: max-content;
    flex-direction: row;
    gap: 30px;
}







