.main-header {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-container button {
    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.button-container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0;
}

.main-logo {
    display: flex;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.main-input {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    height: 30px;
}

/* Поиск */

.horizontal-flex-container {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 40px;
}

.search-bar {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 40px;
    padding-left: 16px;
    font: 400 16px Roboto, sans-serif;
    color: rgba(125, 125, 125, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 99px 0px 0px 99px;
    box-shadow: inset 0px 1px 2px #eeeeee;
    width: 484px;
    outline: none;
}

.search-bar.active {
    border-color: rgba(0, 191, 255, 1);
}

.center-box-with-text {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20.5px;
    padding-left: 20.5px;
    margin-left: -2px;
    background: rgba(240, 240, 240, 1);
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 0px 99px 99px 0px;
    cursor: pointer;
    position: relative;
}

.svg-container {
    display: flex;
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
}

.center-box-with-text1 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 8.5px;
    padding-left: 8.5px;
    margin-left: 9px;
    background: rgba(249, 249, 249, 1);
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.svg-container1 {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    color: rgba(3, 3, 3, 1);
}

.center-box-with-text1:hover,
.center-box-with-text:hover {
    background: rgba(230, 230, 230, 1);
}

.circular-avatar {
    box-sizing: border-box;
    display: block;
    width: 32px;
    max-width: initial;
    height: 32px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

.user-buttons {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu button:hover {
    cursor: pointer;
    background-color: transparent;
}

/* Меню */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: translateX(-85%);
}

.dropdown-section {
    border-bottom: 1px solid #ccc;
}

.user-menu {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-menu a {
    font-size: 14px;
}

.user-menu-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-menu-image img {
    width: 100%;
    height: 100%;
}

.user-menu-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

.user-menu-info p {
    margin: 0px;
}

.user-menu-info span {
    font-size: 16px;
    margin: 0px;
    color: rgb(95, 99, 104);
}

.dropdown-section button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
}

.dropdown-section button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}