.channel-page {
    margin: 0 auto;
    margin-left: 40px;
}


.channel-header {
    height: 200px;

}
.main-image-nav img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.channel-header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.channel-header p {
    font-size: 16px;
    color: #606060;
}
.channel-header img {

    min-width: 1070px;
    max-width: 100%;
    min-height: 170px;
    max-height: 200px;
    border-radius: 12px;
    object-fit:cover;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}




.channel-description {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}



.main-image img {
    margin-top: 20px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.main-description span {
    color: #606060;
    margin-bottom: 16px;
    font-weight: 400;
}

.main-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Размещение элементов в столбец */
    align-items: flex-start;
    /* Выравнивание элементов в начало */
    margin-left: 20px;

}

.owner-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* Размещение элементов в столбец */
    align-items: flex-start;
    /* Выравнивание элементов в начало */
    font-size: 14px;
}

.owner-description {
    font-size: 15px;
}

.owner-description svg {
    vertical-align: middle;
    /* Устанавливаем вертикальное выравнивание по центру */
    padding-left: 2px;
    height: 20px;
    width: 24px;
}

.owner-description img {
    vertical-align: middle;
    /* Устанавливаем вертикальное выравнивание по центру */
    padding-left: 2px;
    height: 16px;
    width: 16px;
}

.dot {
    margin: -3px 5px 5px 5px;
}

.main-description h1 {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 16px;
}

#isFollow {
    margin-top: 20px;
    color: white;
    background-color: black;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border: none;
    font-size: 14px;
    padding: 0px 10px;
}

#noFollow {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-right: 10px;
}

.subscription button img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    /* Пример отступа справа */
    margin-left: 5px;
    vertical-align: middle;
    /* Смещение изображения вниз */
    margin-bottom: 3px;
}



.about-channel {
    max-width: 560px;
    min-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    z-index: 1000;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.close-icon:hover {
    top: 6px;
    right: 6px;
    border-radius: 50%;
    background-color: gray;
    padding: 8px;
}


.about-channel h2 {
    color: black;
    font-size: 19px;
    margin-bottom: 14px;
}

.about-channel span {
    color: #0f0f0f;
    /* word-wrap: break-word; Или overflow-wrap: break-word; */
    overflow-wrap: break-word;
    flex-direction: row;


}

.about-channel-description {
    margin-right: 10px;
    margin-left: 10px;
}

.about-channel-references span {
    color: #065fd4;
}

.about-full-info {
    flex-direction: column;
}

.about-full-info svg {

    width: 24px;
    height: 24px;
    padding-right: 8px;

}

.about-full-info span {
    margin-left: 4px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    color: #0f0f0f;
}

.about-channel-references a {
    margin-left: 4px;
    text-decoration: none;
    color: #065fd4;
}


.channel-menu-btn::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: transparent;
}

.channel-menu-btn.active::after {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.channel-menu-btn:hover::after {
    width: 100%;
    background-color: rgb(121, 102, 102);
}

.channel-menu {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.channel-menu-btn {
    padding: 10px 20px;
    padding-left: 0px;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: rgb(81, 75, 75);
    font-size: 15px;
    font-weight: 500;
}

.active {
    color: black;
}

.separator {
    width: 100%;
    border: none;
    border-top: 1px solid #f2f2f2;
    margin-top: -10px;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 60px;

}

.main-content span {
    color: black;
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.video-button {
    max-width: 280px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.video-button span {
    margin-top: 10px;
}

.reproduce {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: white;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);

    padding-right: 14px;
}

.reproduce svg {
    padding-bottom: 2px;
    margin-right: 6px;
    vertical-align: middle;
    /* Устанавливаем вертикальное выравнивание по центру */
    width: 24px;
    height: 24px;
}

.reproduce button {
    padding: 3px 14px 0;

    border: none;
    background-color: white;
}


.reproduce button:hover {
    border-radius: 18px;
    background-color: #bebebe;
}

/* video */


.sort-video-buttons {
    color: white;
}

.sort-video-buttons button {

    font-weight: 600;
    color: #0f0f0f;
    border-radius: 6px;
    border: none;
    padding: 6px;
    margin-right: 14px;
}

.sort-video-buttons button:focus {
    background-color: black;
    color: white;
}

/*playlist*/
.full-playlist {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.full-playlist span {
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
}

.full-playlist button {
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
    background-color: white;
}

.full-playlist svg {
    margin-right: 6px;

}

/*post*/
.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.community-post {
    min-width: 700px;
    max-width: 800px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 20px;
}

.author-img {
    margin-right: 10px;
    margin-left: 10px;
}

.author-img img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.post-header {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-left: 10px;
}


.post-header p{
    font-size: 14px;
    margin: 0px;
    margin-right: 20px;
}
.post-header label{
    font-size: 12px;
    font-weight: 400;
    color: #606060;
}

.post-main-description{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}
.post-main-description svg {
    position: absolute;
    top: -10px;
    right: 36px;
    padding: 3px;
}

.post-main-description:hover svg {
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
}

.post-main-description img {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 500px;
    border-radius: 12px;
}

.post-main-description span{
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
}

.post-footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-footer svg {
    margin-left: 4px;
    margin-right: 4px;
    padding: 2px;
}

.post-footer span{
    margin: 0px;
    color:#606060;
    font-weight: 400;
    font-size: 12px;
    margin-right: 10px;
}


.post-footer svg:hover{
    background-color: #d0d0d0;
    border-radius: 50px;
    padding: 2px;
}




