/* Для главной страницы */

.videos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.main-video {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 300px;
    cursor: pointer;
}

.preview {
    margin-bottom: 10px;
}

.preview img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.main-video:hover .preview img {
    animation: video_hover 0.5s ease-in-out forwards;
}

.hidden {
    display: none;
}

@keyframes video_hover {
    from {
        border-radius: 10px;
    }

    to {
        border-radius: 0px;
    }
}

.main-video-info {
    display: flex;
    flex-direction: row;
}

.main-video-details {
    display: flex;
    flex-direction: column;
}

.main-video-name {
    font-size: 14px;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.author-image img {
    width: 100%;
    height: 100%;
}

.info {
    color: #606060;
    font-size: 14px;
}

.info ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.info ul li {
    max-width: 200px;
}

.info ul li:not(:last-child) {
    margin-right: 5px;
}

.info ul li:first-child {
    list-style-type: none;
}

.info ul li:last-child {
    margin-left: 12px;
}

/* Для поиска */

.search-video{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 300px;
    cursor: pointer;
}