<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>
          <Include>
            [YouTube.Infrastructure]Services/*,
            [YouTube.Persistence]Repositories/*,
            [YouTube.Application]Features/*
          </Include>
          <Exclude>
            [*.Tests*],
            [xunit.*],
            [YouTube.Persistence]Extensions,
            [YouTube.Persistence]Migrations,
            [YouTube.Application]Common,
            [YouTube.Application]Extensions,
            [YouTube.Application]DTOs
            [YouTube.Domain]
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
