/* ALERT */

.alert-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alert {
  background-color: #333;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.alert-show {
  opacity: 1;
  transform: translateY(0);
}

.alert-hide {
  opacity: 0;
  transform: translateY(100%);
}
