.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 270px;
    max-width: 270px;
    background: rgba(255, 255, 255, 1);
}

.sidebar-button {
    display: flex;
    align-items: center;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
}

.sidebar-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-text {
    font: 500 14px Roboto, sans-serif;
    font-size: 14px;
    color: rgba(3, 3, 3, 0.8);
    white-space: pre-wrap;
}

.best-youtube-section-title-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.youtube-title-style {
    box-sizing: border-box;
    max-width: 170px;
    font: 700 16px Roboto, sans-serif;
    font-weight: 600;
    color: rgba(80, 80, 80, 0.8); 
    text-align: left;
    text-transform: none;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
}