/* Для главной страницы */

.videos-list {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.main-video-image-div {
  margin-right: 20px;
}

.main-video {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 300px;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.closed-menu .main-video {
  display: flex;
  flex-direction: column;
  width: 378px;
  height: 320px;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.preview {
  margin-bottom: 10px;
}

.preview img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.main-video:hover .preview img {
  animation: video_hover 0.5s ease-in-out forwards;
}

@keyframes video_hover {
  from {
    border-radius: 10px;
  }

  to {
    border-radius: 0;
  }
}

.main-video-info {
  display: flex;
  flex-direction: row;
}

.closed-menu .main-video-details {
  width: 360px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.main-video-details {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.show-more-button {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.show-more-button:active {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition:
    width 0.5s ease,
    opacity 0.3s ease;
}

.main-video-name {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1000;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 250px;
  text-align: center;
}

.video-modal-window button {
  height: 36px;
  width: 100%;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 14px;
  padding: 0 0 0 20px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.video-modal-window button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.svg-container button:hover svg {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

.video-modal-window button:active {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.author-image img {
  width: 100%;
  height: 100%;
}

.info {
  color: #606060;
  font-size: 14px;
}

.info ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.info ul li {
  max-width: 200px;
}

.info ul li:not(:last-child) {
  margin-right: 5px;
}

.info ul li:first-child {
  list-style-type: none;
}

.info ul li:last-child {
  margin-left: 12px;
}

/* VIDEO RECOMMENDATIONS */

.player-page-layout .main-video {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 90px;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.player-page-layout .main-video-details {
  width: 170px;
}

.player-page-layout .main-video .author-image {
  display: none;
}

.player-page-layout .main-video .info {
  font-size: 12px;
  text-wrap: nowrap;
  overflow: hidden;
  width: 170px;
}

.player-page-layout .main-video .preview {
  width: 180px;
}

.player-page-layout .main-video .main-video-image-div {
  margin-right: 10px;
}

.player-page-layout .main-video .show-more-button {
  width: 20px;
  height: 20px;
}

.player-page-layout .main-video .svg-container {
  width: 20px;
  height: 20px;
}

.player-page-layout .main-video .info ul {
  display: flex;
  flex-direction: column;
}

.closed-menu .player-page-layout .main-video {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 75px;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.closed-menu .player-page-layout .main-video .author-image {
  display: none;
}

.closed-menu .player-page-layout .main-video .info {
  font-size: 12px;
  text-wrap: nowrap;
  overflow: hidden;
  width: 170px;
}

.closed-menu .player-page-layout .main-video .preview {
  width: 180px;
}

.closed-menu .player-page-layout .main-video .main-video-image-div {
  margin-right: 10px;
}

.closed-menu .player-page-layout .main-video .show-more-button {
  width: 20px;
  height: 20px;
}

.closed-menu .player-page-layout .main-video .svg-container {
  width: 20px;
  height: 20px;
}

.closed-menu .player-page-layout .main-video .info ul {
  display: flex;
  flex-direction: column;
}

.channel-video .main-video-image-div {
  display: none;
}
